.police {
   padding-top: 150px;
   background: rgb(248, 248, 247);
   h1 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 150px;
   }
   h2 {
      font-weight: 500;
      margin-top: 50px;
      font-size: 20px;
   }
   h3{
      font-weight: 300;
      margin-top: 30px;
      font-size: 15px;
      margin-left: 25px;
   }
   p {
      margin-left: 45px;
      margin-top: 15px;
      font-size: 16px;
      line-height: 30px;
   }
   span {
      font-weight: 900;
   }                    
}