.resume {
   padding-top: 120px;
   &__title{
      position: relative;
      text-align: center;
      @include before_circle;
      &:before {
         left: 50%;
         transform: translateX(-50%);
      }
   }
   &__subtitle {
      text-align: center;
   }
   &__wrapper {
      padding: 60px 65px 0 65px;
      display: grid;
      grid-template-columns: repeat(2, 425px);
      column-gap: 136px;
   }
   &__column {
      &-title {
         position: relative;
         padding-left: 35px;
         &::before{
            content:"";
            position: absolute;
            left: -7px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background-color:$main-color;
            border-radius: 100%;

         }
      }
      ul {
         list-style-type: none;
         li{
            position: relative;
            &::after {
               content: "";
               position: absolute;
               top: -16px;
               left: 0;
               width: 1px;
               height: calc(100% + 16px);
               background-color: #000000;
            }
         }
      }
   }
   &__item {
      position: relative;
      &::before{
         content: "";
         position: absolute;
         top: 37%;
         width: 45px;
         height: 1px;
         background-color: #000000;
      }
      &-head {
         padding: 45px 0 0 100px;
         h4 {
            margin-bottom: 0;
         }
      }
      &-body{
         padding-left: 43px;
         margin-top: 12px;
         font-size: 12px;
         line-height: 18px;
      }
      &-icon {
         position: absolute;
         top: 34%;
         left: 14%;
         @include before_circle;
         &:before {
            top: -50%;
            left: -15px;
         }
      }
      &-location {
         margin-top: 5px;
         font-size: 12px;
         line-height: 18px;
      }
   }
}